// font 설정
$fontDefault: 'Spoqa Han Sans Neo', sans-serif;
$fontPassword: 'password', 'Roboto', 'helvetica', 'sans-serif';
$fontMusinsa: 'Musinsa';

// color 변수 설정
$C_Blue: #3c57ff;
$C_Red: #fe432a;
$C_Yellow: #ffa523;
$C_Blue_OP_06: rgba(60, 87, 255, 0.06);
$C_Red_OP_06: rgba(254, 67, 42, 0.06);
$C_Yellow_OP_06: rgba(255, 165, 35, 0.06);
$S_Red: #f02e34;
$S_Blue: #0083ff;
$S_Green: #2fc656;
$S_Yellow: #ffe200;
$S_purple: #5a2acf;
$WeekRed: #ff6b6b;
$WeekBlue: #4ca2f3;
$BG_Red: #fff6f6;
$BG_Blue: #eef6ff;
$Gray90: #000;
$Gray80: #333;
$Gray70: #666;
$Gray60: #999;
$Gray50: #aaa;
$DKGray50: #5c5c5c;
$Gray40: #ccc;
$Gray30: #ddd;
$Gray25: #eee;
$Gray20: #f5f5f5;
$Gray10: #f9f9f9;
$Gray00: #fff;
$Product_BG_Yellow: #faf9ee;
$Product_BG_Gold: #f9f6f1;
$Product_BG_Green: #f3f6ef;
$Product_BG_Purple: #f3f2f9;
$Product_BG_Blue: #f0f3f7;
$Product_BG_Red: #f8f4f4;

// image 변수 설정
$ic-12-common-arrow-bottom: url('static/images/icon/ic-12-common-arrow-bottom.svg');
$ic-12-common-arrow-bottom-blue: url('static/images/icon/ic-12-common-arrow-bottom-blue.svg');
$ic-16-common-calendar: url('static/images/icon/ic-16-common-calendar.svg');
$ic-16-common-delete: url('static/images/icon/ic-16-common-delete.svg');
$ic-16-filter-arrow-down: url('static/images/icon/ic-16-filter-arrow-down.svg');
$ic-20-arrow-close: url('static/images/icon/ic-20-arrow-close.svg');
$ic-20-arrow-open: url('static/images/icon/ic-20-arrow-open.svg');
$ic-20-common-arrow-top: url('static/images/icon/ic-20-common-arrow-top.svg');
$ic-20-common-calendar: url('static/images/icon/ic-20-common-calendar.svg');
$ic-20-common-camera: url('static/images/icon/ic-20-common-camera.svg');
$ic-20-common-check: url('static/images/icon/ic-20-common-check.svg');
$ic-20-common-delete: url('static/images/icon/ic-20-common-delete.svg');
$ic-20-common-plus: url('static/images/icon/ic-20-common-plus.svg');
$ic-20-common-search: url('static/images/icon/ic-20-common-search.svg');
$ic-28-code-off: url('static/images/icon/ic-28-code-off.svg');
$ic-28-code-on: url('static/images/icon/ic-28-code-on.svg');
$ic-28-home-off: url('static/images/icon/ic-28-home-off.svg');
$ic-28-home-on: url('static/images/icon/ic-28-home-on.svg');
$ic-28-waiting-off: url('static/images/icon/ic-28-waiting-off.svg');
$ic-28-waiting-on: url('static/images/icon/ic-28-waiting-on.svg');
$ic-30-common-arrow-left: url('static/images/icon/ic-30-common-arrow-left.svg');
$ic-30-common-close: url('static/images/icon/ic-30-common-close.svg');
$ic-30-common-logout: url('static/images/icon/ic-30-common-logout.svg');
$dk-30-common-close: url('static/images/icon/dk-ic-30-common-close.svg');
